[Unit]
Description=Containous Traefik - The Cloud Native Edge Router
Documentation=https://containo.us/traefik/
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="AWS_ACCESS_KEY_ID=xxxxxxxxx"
Environment="AWS_SECRET_ACCESS_KEY=xxxxxxxx"
Environment="AWS_HOSTED_ZONE_ID=xxxxxxxxxx"
Environment="AWS_REGION=us-east-1"
ExecStart=/usr/bin/traefik --configfile=/etc/traefik.d/static.toml
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
